{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title_categories_details'|trans }}
{% endblock %}

{% block body %}
    {% block header %}
        <h1>{{ 'virtual_note'|trans }}</h1>
    {% endblock %}

    <h2>{{ 'title_categories_details'|trans }}</h2>
    {% if categories is defined and categories|length %}
        <dl>
            <dt>{{ 'label_id'|trans }}</dt>
            <dd>{{ categories.id }}</dd>
            <dt>{{ 'label_name'|trans }}</dt>
            <dd>{{  categories.name }}</dd>
        </dl>
        <p>
            <a href="{{ url('categories_index') }}" title="back to the list">
                {{ 'button_back'|trans }}
            </a>
        </p>
    {% else %}
        <p>
            {{ 'message_item_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}